[color]
  ui = auto
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = true
  pager = true
  showbranch = true
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
  color = true
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
  whitespace = red reverse
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[core]
  whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
  pager = less -FRSX
  symlinks = false
  excludesfile = ~/.gitignore_global
[alias]
  st = status
  ci = commit
  br = branch
  co = checkout
  df = diff
  lg = log -p
  pr = "!hub pull-request"
  pushom = push origin master
  pullom = pull origin master
  pushgm = push github master
  pullgm = pull github master
  pushall = push --all
  pullall = pull --all
  loggraph = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue) <%an>%Creset' --abbrev-commit
  pul = pull
  tags = tag
  psuh = push
  scoreboard = !sh -c 'git log | grep "^Author" | sort | uniq -ci | sort -r'
  alias = !git config --list | grep -E 'alias\\.' | sed -E 's/alias\\.([^=]*)=(.*)/\\1 = \\2/' | sort
  dif = diff
  difff = diff
  bdate = for-each-ref --sort=-committerdate refs/heads/ --format='%(committerdate:short)%09%(refname:short)'
  assume   = update-index --assume-unchanged
  unassume = update-index --no-assume-unchanged
  assumed  = "!git ls-files -v | grep ^h | cut -c 3-"
[user]
  name = Kornel Lugosi
  email = coornail@gmail.com
  signingkey = 2BF08790
[rerere]
  enabled = 1
[diff]
  algorithm = patience
[push]
  default = matching
[commit]
  gpgsign = true
