[color]
  ui = auto
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = true
  pager = true
  showbranch = true
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
  color = true
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
  whitespace = red reverse
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[core]
  whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
  symlinks = false
  excludesfile = ~/.gitignore_global
	editor = /usr/bin/vim
	attributesfile = ~/.gitattributes
	fsmonitor = true
[alias]
  fuckme = !sh -c 'git commit --amend && git push --force'
  mergemaster = !sh -c 'git fetch && git merge origin/master'
  mergemain = !sh -c 'git fetch && git merge origin/main'
  st = status
  ci = commit
  comit = commit
  br = branch
  co = checkout
  df = diff
  lg = log -p
  pr = "!hub pull-request"
  pushom = push origin master
  pullom = pull origin master
  pushgm = push github master
  pullgm = pull github master
  pushall = push --all
  pullall = pull --all
  loggraph = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue) <%an>%Creset' --abbrev-commit
  pul = pull
  tags = tag
  psuh = push
  scoreboard = !sh -c 'git shortlog -sn --no-merges'
  alias = !git config --list | grep -E 'alias\\.' | sed -E 's/alias\\.([^=]*)=(.*)/\\1 = \\2/' | sort
  dif = diff
  dfif = diff
  difff = diff
  bdate = for-each-ref --sort=-committerdate refs/heads/ --format='%(committerdate:short)%09%(refname:short)'
  assume   = update-index --assume-unchanged
  unassume = update-index --no-assume-unchanged
  assumed  = "!git ls-files -v | grep ^h | cut -c 3-"
  # http://caiustheory.com/git-git-git-git-git/
  git = !exec git
  remaster = !sh -c 'git branch -D master && git checkout origin/master -b master'
[user]
  name = Kornel Lugosi
  email = coornail@gmail.com
  signingkey = ~/.ssh/id_rsa.pub
[rerere]
  enabled = 1
[diff]
  algorithm = histogram
[diff "exif"]
	textconv = exiftool
[push]
  default = matching
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[branch]
	sort = -committerdate
[gpg]
	format = ssh
