[submodule "shellscript/ievms"]
	path = shellscript/ievms
	url = https://github.com/xdissent/ievms.git
[submodule "shellscript/drush"]
	path = shellscript/drush
	url = http://git.drupal.org/project/drush.git
[submodule "solarized"]
	path = solarized
	url = https://github.com/altercation/solarized.git
[submodule "shellscript/mysqlDbExporter"]
	path = shellscript/mysqlDbExporter
	url = git://github.com/hosszukalman/mysqlDbExporter.git
[submodule ".zsh/z.sh"]
	path = .zsh/z.sh
	url = git://github.com/rupa/z.git
