# Get editor completions based on the config schema
"$schema" = 'https://starship.rs/config-schema.json'

# Inserts a blank line between shell prompts
add_newline = false

format = """$username\
$hostname\
$directory\
$git_branch\
$git_commit\
$git_state\
$git_metrics\
$git_status\
$character"""
right_format = '$all'

# Make prompt a single line instead of two lines
[line_break]
disabled = true

# Replace the '❯' symbol in the prompt with '➜'
[character] # The name of the module we are configuring is 'character'
success_symbol = '[\$](bold green)'
error_symbol = '[\$](bold red)'

# Disable the package module, hiding it from the prompt completely
[package]
disabled = true

[aws]
disabled = true

[vagrant]
disabled = true

[directory]
fish_style_pwd_dir_length = 1

[status]
disabled = false
